<form style="display: flex; flex-direction: column; gap: 8px" novalidate [formGroup]="form">
  <label>Nome</label>
  <input type="text" formControlName="name">
  <label>Idade</label>
  <input type="number" formControlName="age">
  <label>Email</label>
  <input type="email" formControlName="email">
  <div formGroupName="address" style="display: flex; flex-direction: column; gap: 8px">
    <p>Endereço</p>
    <label>Rua</label>
    <input type="text" formControlName="street">
    <label>Cidade</label>
    <input type="text" formControlName="city">
    <label>Estado</label>
    <input type="text" formControlName="state">
  </div>
  <button type="submit">Enviar</button>
</form>

{{form$ | async | json}}
